annotated-types>=0.6.0
cachetools>=5.3.3
certifi>=2024.2.2
charset-normalizer>=3.3.2
cozmoclad>=3.4.0
google-api-core>=2.17.1
google-auth>=2.28.2
google-cloud-speech>=2.25.1
google-cloud-texttospeech>=2.16.3
google-generativeai
googleapis-common-protos>=1.63.0
grpcio>=1.62.1
grpcio-status>=1.62.1
idna>=3.6
numpy>=1.24.4
opencv-python>=4.9.0.80
pillow>=10.2.0
proto-plus>=1.23.0
protobuf>=4.25.3
pvporcupine>=3.0.2
pyasn1>=0.5.1
pyasn1-modules>=0.3.0
PyAudio>=0.2.14
pydantic>=2.6.4
pydantic_core>=2.16.3
pydub>=0.25.1
requests>=2.31.0
rsa>=4.9
setuptools>=69.2.0
tqdm>=4.66.2
typing_extensions>=4.10.0
urllib3>=2.2.1
flask
